<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" href="../images/obeseburguer.png" type="image/x-icon">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link
            href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Jost:wght@100&family=Lato:wght@300&family=Pacifico&display=swap"
            rel="stylesheet">
        <link rel="stylesheet" href="../css/styles.css">
        
        <title>ObeseBurguer</title>
    </head>
  
    <body>
    
        <div class="siteContent">
    
            <header>
    
                <div class="scrollVarContainer">
    
                    <div class="logoContainer"><a href="../index.html"><img src="../images/obeseburguer.svg"
                                alt="obese burguer logo" class="logo"></a>
                    </div>
    
                    <div class="navContainer">
                        <nav>
                            <ul class="itemContainer">
                                <li class="navItem"><a href="">MENU</a></li>
                                <li class="navItem"><a href="">LOCATIONS</a></li>
                                <li class="navItem"><a href="">FRANCHISE</a></li>
                                <li class="navBtn"><a href="">ORDER ONLINE</a></li>
                            </ul>
                        </nav>
    
                        <a href="">
                            <img src="./images/hamburger_button_menu_icon_155296.png" alt="">
                        </a>
    
                    </div>
    
                </div>
    
            </header>
    
            <main>
                <section id="construction">
                    <div
                        style="height: 825px; background-image: url('../images/siteinconstruction.jpg'); background-size: cover; display: flex; justify-content: center; align-items: center;">
                        <h2 style="font-family: 'Bebas Neue', sans-serif;
                    font-size: 55px;
                    font-weight: 400; color: #ffffff;">We are working to improve your experience. Thank you for your
                            patience.</h2>
                    </div>
                </section>
            </main>
        </div>
    </body>
</html>